@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');  // font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lobster');             // font-family: 'Lobster', cursive;



$clr-main: #D5C8B0;
$clr-dark: #868076;
$clr-bg: #F5EEE4;


html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: $clr-bg;
    font-family: 'Roboto', sans-serif;
}

%button{
    margin-right: 15px;
    background-color: $clr-bg; 
    border: none;
    color: black;
    padding: 6px 32px;

    &:hover{
        background-color: $clr-dark;
    }

    &:active{
        color: black!important;
        background-color: #f6e69e!important;
    } 

    &:focus{
        box-shadow: 0 0 0 0.2rem rgba(245, 238, 228, 0.363);
    }
}