@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$clr-main: #D5C8B0;
$clr-bg: #F5EEE4;


html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: $clr-bg;
    font-family: 'Roboto', sans-serif;
}

