@import 'global';
@import 'header';


.contact-form{
    background-color: $clr-main;
    padding: 25px;
    border-radius: 15px;
}

.btn-primary{
    @extend %button;

    font-size: 2em;
}


@media screen and (min-width: 992px){
    textarea{
        height: 86%!important;
    }
}

@media screen and (max-width: 992px){
    .msg-col{
        height: 200px;
        textarea{
            height: 75%;
        }
    }
}

@import 'footer';