@import 'global';
@import 'header';

.intro{
    background-color: #54320059;
    background-image: url(../images/tunnel-vision.png),url(../images/jumbotron_bg.jpg);
    background-position: center center;
    background-size: cover;
    h1{
        margin-bottom: .6em;
    }
}

.jumbotron{
    background-color: unset;
    color: white; 
}

.promos{
    article{
        background-color: $clr-main;
        margin: 0 10px;
        padding: 20px;
        border-radius: 15px;

        img{
            height: 210px;
            width: 100%;
            object-fit: cover;

            margin-bottom: 1em;
        }
    }
}

.art-promos{
    padding: 0 20px;
}

@media screen and (max-width: 767px){
    .promos article{
        margin: 10px 0;
    }
}