@import 'global';
@import 'header';

img{
    width: 100%;
    margin-bottom: 15px;
}

.page-buttons{
    margin-top: 25px;
}

.pagination{
    margin-bottom: 0;
}

.page {
        display: none;
}
.page-active {
    display: block;
}

@import 'footer';