html{
    box-sizing: border-box;
}


*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: #F5EEE4;
}

header{
    background-color: #D5C8B0;
}

.logo-cont h1{
    text-align: center;
}

.logo{
    width: 530px;
}